* {
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    line-height: 130%;
    font-size: 18px;
    background: #d3dde1;
    padding: 0;
    position: relative;
    margin: 3px 0 0 0 ;
    height: 100vh;
}

.container {
    margin: 30px auto;
}

.main_header {
    width: 100%;
    background: #658795;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5rem 1rem;
    z-index: 7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_header__logo img {
    margin: 0 45px;
    height: 2.5rem;
}

.main_nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.main_nav__item {
    margin: 0 30px;
}

.main_nav__item a {
    text-decoration: none;
    color: #e9eef0;
}

#projects {
    padding: 8px 14px;
    background: #396476;
    border-radius: 10px;
    border: 2px solid #e28743;
}

#projects:hover,
#projects:active {
    background: #235367;
    color: #e28743;
}

#home:hover,
#about:hover,
#links:hover,
#home:active,
#about:active,
#links:active {
    font-weight: bolder;
    color: #e28743;
    text-decoration: underline;
}

.logo__hover:hover,
.logo__hover:active {
    padding: 3px;
    border: 2px solid #e28743;
}

.main_page__title_4 h2 {
    margin: 60px;
    padding: 60px 0 10px 0;
    text-align: center;
    font-size: 30px;
}

.main_page__body_4 {
    padding: 0 70px 70px 70px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 50px;
}

.text_box {
    background-color: #658795;
    opacity: 95%;
    padding: 35px;
    color: white;
    text-align: left;
    border-radius: 8px;
    justify-content: center;
    font-size: 20px;
    width: 85%;
    height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 15px;
}

.text_box__h2 {
    margin: 0;
    text-align: center;
}

.project__h3 {
    padding: 8px;
    background: #235367;
    border: 2px solid #e28743;
    border-radius: 10px;
    width: 100%;
    align-content: center;
    text-align: center;
    margin: 0;
}

.project__h2:hover,
.project__h2:active {
    background: #193a48;
    color: #e28743;
    text-decoration: underline;
    cursor: pointer;
}

.footer {
    width: 100%;
    background: #235367;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #d3dde1;
    flex-shrink: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.main_footer__left {
    padding-left: 30px;
}

.main_footer__right {
    padding-right: 20px;
    display: flex;
    align-content: center;
    list-style: none;
}

.main_footer__item {
    margin: 0 30px;
    padding: 0;
}

#contact_me {
    padding: 8px 14px;
    background: #1c4252;
    border-radius: 10px;
    border: 2px solid #e28743;
}

#contact_me:hover,
#contact_me:active {
    background: #193a48;
    color: #e28743;
    cursor: pointer;
}

#follow_me:hover,
#follow_me:active {
    color: #e28743;
    text-decoration: underline;
    cursor: pointer;
}

