* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    line-height: 130%;
    background: #d3dde1;
    margin-top: 60px;
    min-height: calc(100vh - 155px);
}

.main_header {
    width: 100%;
    background: #658795;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5rem 1rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_header__logo img {
    margin: 0 45px;
    height: 2.5rem;
}

.main_nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.main_nav__item {
    margin: 0 30px;
}

.main_nav__item a {
    text-decoration: none;
    color: #e9eef0;
}

#projects {
    padding: 8px 14px;
    background: #396476 ;
    border-radius: 10px;
    border: 2px solid #e28743;
}
#projects:hover,
#projects:active {
    background: #235367;
    color: #e28743;
}

#home:hover,
#about:hover,
#links:hover,
#home:active,
#about:active,
#links:active {
    font-weight: bolder;
    color: #e28743;
    text-decoration: underline;
}

h1 {
    font-size: 40px;
    text-align: center;
}

img {
    margin: auto;
    height: 350px;
    border-radius: 8px;
}

.main_page__title_1 {
    color: #193a48;
    margin-bottom: 40px;
}

.main_page__image_1 {
    padding: 20px;
    text-align: center;
}

.main_page__body_1 {
    padding: 40px 70px 70px 70px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.text_box {
    background-color: #658795;
    padding: 20px;
    color: white;
    width: 85%;
    text-align: center;
    border-radius: 8px;
}

#page__1 {
    background: #d3dde1;
    height: 100vh;
}

.body__container {
    display: flex;
}

.side_menu__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 13px;
    color: #193a48;
}

.side_menu__title {
    visibility: hidden;
}

.side_menu_1 {
    background: #d3dde1;
    border-right: 2px solid #bdcbd1;
    height: 100vh;
}

.side_menu__items {
    list-style: none;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 34px;
    text-align: center;
}

.side_menu__item {
    padding: 20px;
}

.side_menu__item:hover,
.side_menu__item:active {
    font-weight: bolder;
    color: #e28743;
    text-decoration: underline;
    cursor: pointer;
}

.footer {
    width: 100%;
    background: #235367;
    padding: 30px;
    position: sticky;
    top: 100%;
    display: flex;
    margin-bottom: 0;
    align-items: center;
    justify-content: space-between;
    color: #d3dde1;
}

.main_footer__left {
    padding-left: 30px;
}

.main_footer__right {
    padding-right: 20px;
    display: flex;
    align-content: center;
    list-style: none;
}

.main_footer__item {
    margin: 0 30px;
    padding: 0;
}

#contact_me {
    padding: 8px 14px;
    background: #1c4252;
    border-radius: 10px;
    border: 2px solid #e28743;
}

#contact_me:hover,
#contact_me:active {
    background: #193a48;
    color: #e28743;
    cursor: pointer;
}

#follow_me:hover,
#follow_me:active {
    color: #e28743;
    text-decoration: underline;
    cursor: pointer;
}


